<a href="https://colab.research.google.com/github/helookscool/CheatSheet-for-Python/blob/main/list%EC%99%80_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [  ] 안에 값을 담아서 생성--> 리스트는 대괄호 쓴다고.
 - list() 함수로 생성
 - str.split()함수로 생성

In [1]:
a = []
print(a)

[]

In [2]:
a = [1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [3]:
a = ['korea', 'canada', 1, 23, [34, 56]] #문자열은 따옴표로 표현한다는 사실을 잊지말긔! 따옴표 없이 korea라고 쓰면 이건 변수임!
print(a)

['korea', 'canada', 1, 23, [34, 56]]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [4]:
a = 'hello world'
b = list(a)
print(b)#--> 문자열의 각 문자를 원소로 한 리스트 생성

c = (1, 2, 3)
d = list(c)

print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [5]:
a = 'hello world nice weather'
b = a.split() # 스페이스바 를 기준으로 문자열을 구분해서 리스트로 만들어라. 이런뜻.

print(b)

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [   ] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [6]:
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능
 - String은 직접 못바꿈(불변(immutable)개체임).고로 다른 수단을 거쳐서 바꿔야됨.
 - 숫자형 타입(정수형, 실수형)을 직접 바꿀 수 있다!

In [8]:
# 불변(immutable)
a = 'hello world'
print(a[0])
# 위의 글자 'h'를 'j'로 바꾸고 싶다고  a[0]='j' 이렇게 지정한다고 해서 h가 j로 변하지 않음. 
# 문자열은 불변(immutable)개체이기 때문에 바꾸고 싶으면 아에 다시 쓰거나, 변수c 처럼 j쓰고 1번째 문자열부터 덪붙혀 써야됨. 또는 replace함수 쓰거나.
b = 'jello world'
c = 'j' + a[1:]

d = a.replace('h', 'j')
print(d)
print(a)
print(c)

h
jello world
hello world
jello world

In [9]:
a = [1, 2, 3, 4, 5]
a[0] = 100 #0번째 인덱스를 100으로 바꾸겠다. 
a[-1] = 90 #맨 끝의 인덱스를 90으로 바꾸겠다. 

print(a)

[100, 2, 3, 4, 90]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [10]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7]) #걍 print()없이 a[4:7]해도 [5,6,7]나옴. 
print(a[:7])
print(a[3:])
print(a[:])

# slicing 
# start:end:increment(1) 
#increment()는 건너뛰는 숫자의 크기를 말함. 기본값은 '1'이고, 만약 a[1:7:2]이면 [2,4,6]이 출력됨

a[1:7]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 3, 4, 5, 6, 7]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [11]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [13]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 의 꼴을 만들고 싶은데, 여기서 append()함수로 추가해서 쓰면 
#[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]] 이런 형태로만 추가됨. 이럴땐 extend()함수 써야되는 거임.

# a.extend(b)를 아래의 형태으로도 표현 가능
a += b 
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * append함수는 맨 마지막에만 추가가 가능! 중간에 삽입을 하려면 insert함수를 쓴다.
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [15]:
a = [1, 3, 4, 5, 6]
a.insert(1, 40) #1번 인덱스 옆에 40을 추가하고 싶다.

print(a)

[1, 40, 3, 4, 5, 6]

+ **remove()**
 * 값으로 항목 삭제

In [18]:
a = [1, 2, 30, 30, 4, 5]
a.remove(2) #remove함수는 value값을 지움. 지정한 숫자가 인덱스가 아님!
print(a)

[1, 30, 30, 4, 5]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제
  -얘도 기본적으로 삭제인데, remove는 괄호 안의 value값을 직접 쓰는 형태였으나, pop은 인덱스를 씀.

In [19]:
a = [1, 2, 3, 4, 5]
d = a.pop(2) #pop으로 a에서 빼낸다음 d로 값을 줘서 따로 출력 가능함.
#a.pop() 이렇게 공백으로 남기면 가장 마지막 인덱스가 지워짐
print(a)
print(d)

[1, 2, 4, 5]
3

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [20]:
a = [2, 6, 7, 9, 10]
a.index(9)

3

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [21]:
a = [1, 2, 3, 4, 5, 10]
b = 10

c = b in a # False

print(c)

True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬, 얘는 list의 맴버함수임
 + sorted() -> 리스트의 정렬된 복사본을 반환, 얘는 내장함수임.

In [22]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort(reverse=True) #이렇게 쓰면 역순으로 정리됨.
b = sorted(a)
print(a)
print(b)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능
 - 리스트는 대괄호를 쓰지만, 튜플은 소괄호를 쓴다.
 - 리스트는 포함한 원소를 바꿀 수 있으나, 튜플은 바꿀 수 없다!

In [24]:
a = [1, 2, 3]
b = (1, 2, 3)
print(a)
print(b)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100 #b는 튜플이라서, 0번쨰 인덱스를 바꾸라는 명령을 듣지 않는다. 
print(b)

[1, 2, 3]
(1, 2, 3)
<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: ignored

#### **tuple unpacking**
 - 튜플은 괄호없이 쓸 수 있다.
 - 튜플의 값을 차례대로 변수에 대입

In [28]:
a,b,c,d=100,200,300,400
print(a,b,c,d)

100 200 300 400

* **연습문제** a와 b의 값을 교환하시오

In [30]:
#튜플은 패키지 내의 변수들의 값을 여러가지로 그때그때에 맞게 변동해서 쓰고 싶을때 쓴다.
a = 5
b = 4

print(a, b)

# # logic(보통은 이런 방식으로 a값과 b값을 교환하지만,)
# temp = a
# a = b
# b = temp
a, b = b, a #튜플에선 이렇게 막 바꿀 수 있다.

print(a, b)

5 4
4 5