<a href="https://colab.research.google.com/github/helookscool/LittleStudy/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85%EA%B3%BC_%EC%BB%AC%EB%A0%89%EC%85%98%2C_%EB%B3%80%EC%88%98%EC%9D%98_%EC%9D%B4%ED%95%B4_%EB%B0%8F_%EA%B8%B0%EB%B3%B8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85_After.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 10 # int 
b = 11.4 # float

In [3]:
# this line is very important
# so don't delete those lines

a = 10
b = 11.4

In [4]:
print(a, b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

* **print함수 설정**
 - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함, 디폴트는 걍 띄어쓰기임
 
 - end : 마지막에 출력할 문자열

In [5]:
print(a, b, 10, 100, sep='*', end='!!')

10*11.4*10*100!!

#### **변수 이름 규칙)**
  - '숫자로 시작하는 이름을 제외'하고 영문 대소문자, _, 숫자로 구성가능 
  - 아래의 예제는 모두 valid한 변수 이름
  - 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
    - 코드를 읽은 것을 더 쉽게 할 수 있음
    - e.g) a = 1000의 경우보다 **student_num = 1000**로 명시한 것이 변수에 대한 이해가 빠름

In [7]:
abcABC = 100
_abc124 = 200
ABC124 = 200
a456BC = 100

a = 200
number_of_students = 200

#### **reserved keywords (예약어)**
  - python에서 미리 선점하여 사용중인 키워드오서 임의로 지정하여 변수로 쓸 수 없음

In [ ]:
for
while 
if
elif 
else 
class
try
except
class
# ...
#꼭 해당 키워드를 써야 한다면 언더바_를 붙인 형태로 쓰도록 하자.
_class = 100
print(_class)

### 기본 데이터 타입 
  - 정수 (int)--> 음의정수, 양의정수, '0'
  - 실수 (float)
  - 문자열 (str)
  - 불리언 (boolean)--> 컴퓨터 과학에서 불리언(boolean) 자료형은 논리 자료형이라고도 하며, 참과 거짓을 나타내는 데 쓰인다.true와 false로 나타내어 지는 자료라는 뜻

#### type 함수
 - 해당 변수, 값의 타입(type)을 알고자 할 때 사용

In [ ]:
a = 10
b = 11.45

type(b)

#### **None**
 - 아무런 값을 갖지 않을 때 사용
 - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
 - 기타 언어의 NULL, nil등과 같은 의미로 사용

In [ ]:
c = None
print(c)

#### **comparison operator(비교 연산자)** 
  - 프로그래밍에서는 비교를 할 경우, = 대신 **==**를 사용
  - <=, >= (작거나 같다, 크거나 같다)
  - == 같다
  - != 같지 않다
  - 비교 연산자의 결과는 bool 타입

In [9]:
a = 5
b = 4

print(a > b) # True
print(a < b) # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False
print(a != b) # True

c = a > b
c = True
print(type(c))
print(c)

True
False
True
False
False
True
<class 'bool'>
True

#### **numbers (숫자형 타입)**
 - 정수, 실수로 구성
 - 수학의 기본 연산자(가감승제) 사용 가능

In [ ]:
a = 5
b = 4

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a % b)
print(a ** b)

#### **operator priorities (연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일(곱하기/나누기 우선)
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [10]:
a = 5
b = 4

print(a + b * 4)
print((a + b) * 4)

21
36

*  **연습문제** 다음의 각 a값을 출력 했을 때 결과는?

In [11]:
a = 9
print(a) # 9
print(a - 3) # 6
print(a) #9, 6

9
6
9

#### **expression evaluation & assignment (식평가 & 대입)**
 - 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우에만 해당

In [12]:
a = 9
a-3
print(a)

9

In [13]:
a = 9
t = a - 3
a = t

print(a)

6

In [14]:
a = 9
a = a - 3
print(a)

6

In [15]:
a = 9
# a = a - 3
a **= 3# 9의 세제곱임
print(a)

729